/*
!vmcwp/
vmcwp/*

!vmcwp/wp-content
vmcwp/wp-content/*

!vmcwp/wp-content/plugins
!vmcwp/wp-content/themes

vmcwp/wp-content/themes/*
!vmcwp/wp-content/themes/customizr
!vmcwp/wp-content/themes/customizr-child
